.booking-calendar-rooms {
  display: flex;
}
.booking-calendar-rooms div {
  padding: 5px;
  border: solid 1px gray;
  margin: 2px;
}
.booking-calendar-rooms div.booking-calendar-FREE.booking-calendar-active {
  background-color: green;
  color: white;
}
.booking-calendar-rooms div.booking-calendar-BLOCKED.booking-calendar-active {
  background-color: gray;
  color: white;
}
.booking-calendar-rooms div.booking-calendar-BOOKED.booking-calendar-active {
  background-color: red;
  color: white;
}
.booking-calendar-rooms div.booking-calendar-BOOKED {
  margin-top: 40px;
}
.booking-calendar-rooms div.booking-calendar-FREE {
  margin-bottom: 40px;
}
.booking-calendar-rooms div.booking-calendar.selected {
  border: solid 3px red;
}

.booking-calendar-details, .booking-calendar-notes {
  font-size: 0.76em;
  border-collapse: collapse;
}
.booking-calendar-details th, .booking-calendar-notes th,
.booking-calendar-details td, .booking-calendar-notes td {
  border: 1px solid lightgray;
}

.fc-event-time {
  display: none;
}

.booking-calendar-info {
  font-size: 0.7em;
  margin-top: 5px;
}

.swal2-html-container input {
  width: 80%;
  font-size: 0.7em;
  min-height: 30px;
}
.swal2-html-container textarea {
  width: 80%;
  font-size: 0.7em;
  min-height: 70px;
}

.fc-daygrid-event-dot {
  height: 10px;
}